In [20]:
#importing all required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Reading data
loan_data = pd.read_csv('loan.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'loan.csv'

In [ ]:
# Reading few records
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
# Check the shape and dataTypes
print(loan_data.shape)
print(loan_data.dtypes)

(39717, 111)
id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [ ]:
# Data Cleaning

In [ ]:
## Check if any duplicate rows present
duplicate_data = loan_data[loan_data.duplicated(['id'])]
duplicate_data

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

In [ ]:
## Fetch Empty columns
loan_data.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [ ]:
### Drop the columns where all values are Empty
loan_data=loan_data.dropna(how='all', axis=1)
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [ ]:
### Drop the Rows where all values are Empty
loan_data=loan_data.dropna(how='all')
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [ ]:
### Find the Columns where most values are null
missing_per = loan_data.isnull().sum() * 100 / len(loan_data)
missing_value_loan_data = pd.DataFrame({'column': loan_data.columns,'missing%':missing_per})
missing_value_loan_data.sort_values('missing%',inplace = True)
missing_value_loan_data

                                                column   missing%
id                                                  id   0.000000
dti                                                dti   0.000000
delinq_2yrs                                delinq_2yrs   0.000000
earliest_cr_line                      earliest_cr_line   0.000000
inq_last_6mths                          inq_last_6mths   0.000000
policy_code                                policy_code   0.000000
open_acc                                      open_acc   0.000000
pub_rec                                        pub_rec   0.000000
revol_bal                                    revol_bal   0.000000
addr_state                                  addr_state   0.000000
last_pymnt_amnt                        last_pymnt_amnt   0.000000
initial_list_status                initial_list_status   0.000000
out_prncp                                    out_prncp   0.000000
out_prncp_inv                            out_prncp_inv   0.000000
total_pymnt                                total_pymnt   0.000000
total_pymnt_inv                        total_pymnt_inv   0.000000
total_rec_prncp                        total_rec_prncp   0.000000
total_rec_int                            total_rec_int   0.000000
total_rec_late_fee                  total_rec_late_fee   0.000000
total_acc                                    total_acc   0.000000
recoveries                                  recoveries   0.000000
zip_code                                      zip_code   0.000000
purpose                                        purpose   0.000000
member_id                                    member_id   0.000000
loan_amnt                                    loan_amnt   0.000000
funded_amnt                                funded_amnt   0.000000
funded_amnt_inv                        funded_amnt_inv   0.000000
term                                              term   0.000000
int_rate                                      int_rate   0.000000
installment                                installment   0.000000
grade                                            grade   0.000000
sub_grade                                    sub_grade   0.000000
delinq_amnt                                delinq_amnt   0.000000
home_ownership                          home_ownership   0.000000
annual_inc                                  annual_inc   0.000000
verification_status                verification_status   0.000000
issue_d                                        issue_d   0.000000
loan_status                                loan_status   0.000000
pymnt_plan                                  pymnt_plan   0.000000
url                                                url   0.000000
application_type                      application_type   0.000000
acc_now_delinq                          acc_now_delinq   0.000000
collection_recovery_fee        collection_recovery_fee   0.000000
last_credit_pull_d                  last_credit_pull_d   0.005036
title                                            title   0.027696
tax_liens                                    tax_liens   0.098195
revol_util                                  revol_util   0.125891
collections_12_mths_ex_med  collections_12_mths_ex_med   0.140998
chargeoff_within_12_mths      chargeoff_within_12_mths   0.140998
last_pymnt_d                              last_pymnt_d   0.178765
pub_rec_bankruptcies              pub_rec_bankruptcies   1.754916
emp_length                                  emp_length   2.706650
emp_title                                    emp_title   6.191303
desc                                              desc  32.580507
mths_since_last_delinq          mths_since_last_delinq  64.662487
mths_since_last_record          mths_since_last_record  92.985372
next_pymnt_d                              next_pymnt_d  97.129693

In [ ]:
### Drop the Columns where most values are null
loan_data = loan_data.drop(['next_pymnt_d','mths_since_last_record','mths_since_last_delinq','desc','emp_title'] , axis=1)

In [ ]:
loan_data.shape

(39717, 52)

In [ ]:
### Drop the Columns which has string values or may nor related for analysis
column_names= ["zip_code","tax_liens","url"]
loan_data = loan_data.drop(labels=column_names, axis=1)
loan_data.shape

(39717, 49)

In [ ]:

loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,Jun-14,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,May-16,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0

Handling Incorrect Data Types

In [ ]:
loan_data.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
title                          object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
dtype: object

In [ ]:
loan_data.term = loan_data.term.str.strip()
loan_data.term = loan_data.term.str[:2]
loan_data.term.head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: object

In [ ]:
loan_data.term = loan_data.term.astype("int32")
loan_data.term.dtype

dtype('int32')

In [ ]:
loan_data.int_rate = loan_data.int_rate.str.rstrip("%")

In [ ]:
loan_data.int_rate = loan_data.int_rate.astype("float64")
loan_data.int_rate.dtype

dtype('float64')